<div class="max-w-5xl mx-auto px-4 my-16">
  <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight mb-6">Edit Lead Transmission</h1>

  <%= render 'form', lead_transmission: @lead_transmission %>

  <div class="mt-4">
    <%= link_to 'Back', webhooks_lead_transmissions_path, class: "text-blue-500 hover:underline" %>
  </div>
</div>
