<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="lead_transmissions--index">
  <div class="max-w-5xl mx-auto px-4 my-16">
    <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
      <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Lead Transmissions</h1>
      <%= link_to new_webhooks_lead_transmission_path, class: "flex items-center justify-center text-white bg-blue-700 hover:bg-blue-300 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" do %>
        <svg class="h-3.5 w-3.5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"/>
        </svg>
        Add Lead Transmission
      <% end %>
    </div>

    <div id="lead-transmissions" class="divide-y dark:text-slate-700 mb-10">
      <div class="container mx-auto rounded-lg border border-slate-300/80 shadow shadow-slate-100 dark:shadow-slate-950 mt-6 bg-white dark:bg-slate-800 dark:border-slate-600">
        <ul class="divide-y divide-slate-300/80 dark:divide-slate-600">
          <% @lead_transmissions.each do |lead_transmission| %>
            <%= render lead_transmission %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
