<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5" data-controller="lead_transmissions--new">
  <div class="max-w-5xl mx-auto px-4 my-16">
    <div class="flex items-center justify-between pb-6 border-b dark:border-slate-700">
      <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">New Lead Transmission</h1>
    </div>

    <div class="container mx-auto rounded-lg border border-slate-300/80 shadow shadow-slate-100 dark:shadow-slate-950 mt-6 bg-white dark:bg-slate-800 dark:border-slate-600">
      <div class="p-6">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</section>
