<!-- app/views/manager/scores/index.html.erb -->

<ul class="divide-y divide-slate-300/80 dark:divide-slate-600">
  <% @scores.each do |score| %>
    <!-- score start -->
    <li class="px-4 py-5 sm:text-base text-sm items-start grid grid-cols-2 sm:grid-cols-12 gap-3 sm:gap-0 hover:bg-slate-50 transition ease-in-out duration-200 dark:hover:bg-slate-800">
      <div class="sm:col-span-3 sm:mb-0 mb-4 col-span-2">
        <div class="flex flex-col items-start space-y-1">
          <!-- Mostra o r贸tulo "Name" -->
          <p class="text-slate-500 text-sm">Name</p>
          <!-- Mostra o nome do score abaixo do r贸tulo -->
          <p class="sm:font-medium text-slate-900 sm:text-base text-lg font-semibold dark:text-slate-200"><%= score.name %></p>
        </div>
      </div>
      <div class="sm:col-span-2 col-span-1">
        <div class="flex flex-col items-start space-y-1">
          <!-- Mostra o r贸tulo "Score" -->
          <p class="text-sm text-slate-500">Score</p>
          <!-- Mostra o valor do score abaixo do r贸tulo -->
          <p><%= score.value %></p>
        </div>
      </div>
    </li>
    <!-- score end -->
  <% end %>
</ul>
